@charset "UTF-8";

.container {}

.header-inner {
    background: #eee;
}
.header-inner > div {

}
header {
    height: 100px;
    width: 1200px;
    margin: auto;
}
header > div {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}
.header-logo {
    width: 200px;
    float: left;
}
.navi {
    width: 600px;
    float: right;
}

.content-inner {
    background: #bbb;
}
.content-inner > div {}
.slide {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
    height: 300px;
}
.items {
    width: 1200px;
    margin: auto;
}
.items > div {
    border: 1px solid black;
    height: 200px;
}
.news {
    width: 500px;
}
.banner {
    width: 500px;
}
.footer-inner {}
.footer-inner > div {}
.footer-logo {}
.copyright {}
