@charset "UTF-8";

.container {}

.header-inner {
    background: #eee;
}
.header-inner > div {

}
header {
    height: 100px;
    width: 1200px;
    margin: auto;
}
header > div {
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}
.header-logo {
    width: 200px;
    float: left;
}
.navi {
    width: 600px;
    float: right;
}

.content-inner {}
.content-inner > div {}
.slide {}
.items {}
.items > div {}

.footer-inner {}
.footer-inner > div {}
.footer-logo {}
.copyright {}
