@charset 'utf-8';

body {
    margin: 0;
    font-size: 15px;
    background-color: #fff;
    color: #222328;
}

a {
    color: #222328;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    height: 100px;
    position: relative;
    /* z-index: 10; */
}
header > div {
    height: 100px;
}
.header-logo,
.footer-logo {
    width: 150px;
    float: left;
}
.header-logo img,
.footer-logo img {
    width: 150px;
    height: 100px;
}
.navi {
    width: 600px;
    float: right;
}

.slide {
    height: 300px;
    width: 1200px;
    /* position: relative; */
    overflow: hidden;
}
.slide > div {
    /* position: absolute; */
    height: 900px;
    animation: slide 10s infinite linear;
    font-size: 0;
}

@keyframes slide {
    0% { margin-top: 0; }
    30% { margin-top: 0; }
    35% { margin-top: -300px; }
    65% { margin-top: -300px; }
    70% { margin-top: -600px; }
    95% { margin-top: -600px; }
    100% { margin-top: 0; }
}
.items {
    overflow: hidden;
}
.items > div {
    height: 200px;
    float: left;
    box-sizing: border-box;
}
.news {
    width: 500px;
}
.banner {
    width: 350px;
}
.banner img {
    width: 350px;
    height: 200px;
}
.shortcut {
    width: 350px;
}
.shortcut img {
    width: 350px;
    height: 200px;
}
footer {
    overflow: hidden;
}
footer > div {
    height: 100px;
    float: left;
    box-sizing: border-box;
}
.copyright {
    width: 800px;
    text-align: center;
    padding-top: 30px;
}
.sns {
    line-height: 130px;
    text-align: center;
    width: 250px;
}

/* Navigation */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}
.menu li > a {
    display: block;
    padding: 5px;
    border: 1px solid #000;
    transition: 0.5s;
}
.menu li:hover > a {
    background-color: #000;
    color: #fff
}
.sub-menu {
    background-color: #fff;
    border: 1px solid #000;
    display: none;
}
.sub-menu a {
    display: block;
    padding: 5px;
    transition: 0.5s;
}
.sub-menu a:hover {
    background-color: #000;
    color: #fff;
}

.tab-inner {
    width: 95%;
    margin: auto;
}

.btn {

}

.btn a {
    border: 1px solid #000;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin-right: -6px;
    border-bottom: none;
    margin-bottom: -1px;
    background-color: #ddd;
}

.btn a.active {
    background-color: #fff;
}

.tabs > div {
}

.tab1 {
    border: 1px solid #000;
    padding: 0 15px;
}

.tab1 a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.tab1 a:last-child {
    border-bottom: none;
}

.tab1 a b {
    float: right;
    font-weight: normal;
}

.tab2 {
    border: 1px solid #000;
    height: 165px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    display: none;
}

.tab2 img {
    width: 130px;
    height: 130px;
}