@charset 'utf-8';

body {
    margin: 0;
    font-size: 15px;
    background-color: #fff;
    color: #222328;
}

a {
    color: #222328;
    text-decoration: none;
}

.container {
    border: 1px solid red;
    width: 1200px;
    margin: auto;
}

header {
    height: 100px;
    position: relative;
    z-index: 10;
}
header > div {
    height: 100px;
}
.header-logo,
.footer-logo {
    width: 150px;
    float: left;
}
.header-logo img,
.footer-logo img {
    width: 150px;
    height: 100px;
}
.navi {
    width: 600px;
    float: right;
}

.slide {
    height: 300px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.slide > div {
    position: absolute;
    height: 900px;
    animation: slide 10s infinite linear;
    font-size: 0;
}

@keyframes slide {
    0% { top: 0; }
    30% { top: 0; }
    35% { top: -300px; }
    65% { top: -300px; }
    70% { top: -600px; }
    95% { top: -600px; }
    100% { top: 0; }
}
.items {
    overflow: hidden;
}
.items > div {
    border: 1px solid blue;
    height: 200px;
    float: left;
    box-sizing: border-box;
}
.news {
    width: 500px;
}
.banner {
    width: 350px;
}
.banner img {
    width: 350px;
    height: 200px;
}
.shortcut {
    width: 350px;
}
.shortcut img {
    width: 350px;
    height: 200px;
}
footer {
    overflow: hidden;
}
footer > div {
    height: 100px;
    float: left;
    box-sizing: border-box;
}
.copyright {
    width: 800px;
    text-align: center;
    padding-top: 30px;
}
.sns {
    line-height: 130px;
    text-align: center;
    width: 250px;
}

/* Navigation */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}
.menu li > a {
    display: block;
    padding: 5px;
    border: 1px solid #000;
    transition: 0.5s;
}
.menu li:hover > a {
    background-color: #000;
    color: #fff
}
.sub-menu {
    background-color: #fff;
    border: 1px solid #000;
    display: none;
}
.sub-menu a {
    display: block;
    padding: 5px;
    transition: 0.5s;
}
.sub-menu a:hover {
    background-color: #000;
    color: #fff;
}